<mat-card class="choose-card">
    <img class="m-auto" mat-card-image src="../../../assets/images/{{imgPath.card}}.png" alt="Photo of a Shiba Inu">
    <mat-card-content class="text-center mt-2">
        <h2>{{imgPath.heading}}</h2>
      <p class="subLanding">
        Journal Finder uses latest Al technologies that
        understand the concepts discussed in your paper and
        compare those with journal publications to
        recommend the right journal to you.
      </p>
    </mat-card-content>
</mat-card> 