<section class="mt-5">
    <h1 class="heading">Key Features</h1>
    <div class="row">
        <div class="col-md-4 d-flex mb-2">
            <span class="icn"><fa-icon [icon]="faBrain"></fa-icon></span>
            <div>
                <h2>AI Powered Recommendations</h2>
            <p>
                Al technologies that <span class="headlineColor">understand the
                    concepts</span> discussed in your paper and
                compare those with journal publications to
                recommend the right journal to you.
            </p>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-2">
            <span class="icn"><fa-icon [icon]="faNewspaper"></fa-icon></span>
            <div>
                <h2>Works for all subjects</h2>
                <p>No need to keep looking for Journal which
                    publish your subject area.Trinka's Journal
                    Finder recommends the right journal <span class="headlineColor">for all
                        scientific disciplines</span>.</p>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-2">
            <span class="icn"><fa-icon [icon]="faFilter"></fa-icon></span>
            <div>
                <h2>Intuitive Filters to Save Time</h2>
                <p>Use Journal Finder's smart filters that let you
                    refine your search across various journal data
                    to easily <span class="headlineColor">find the right journal</span>. You can set
                    custom filters too!</p>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-2">
            <span class="icn"><fa-icon [icon]="faArrowTrendUp"></fa-icon></span>
            <div>
                <h2>Publication Trends to Understand Citability</h2>
                <p>See how publications of your topic have
                    <span class="headlineColor">performed over time</span> and understand how
                    your paper could be cited once published.</p>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-2">
            <span class="icn"><fa-icon [icon]="faDatabase"></fa-icon></span>
            <div>
                <h2>Large database of scientific publications</h2>
                <p>Trinka's Journal Finder usesalarge database
                    of scientific publications gathered from
                    sources such as <span class="headlineColor">Crossref</span> and <span class="headlineColor">PubMed</span>.</p>
            </div>
        </div>
    </div>
</section>
